<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Forgery Detection App</title>
</head>
<body>
    <div class="container">
        <h1>Forgery Detection App</h1>

        <!-- Add the form with enctype attribute set to "multipart/form-data" -->
        <form id="uploadForm" enctype="multipart/form-data">
            <div class="upload-section">
                <label for="fileInput" class="upload-label">Choose a document:</label>
                <input type="file" name="file" id="fileInput" required>
                <button id="submitBtn" type="button">Detect Forgery</button>
            </div>
        </form>

        <div id="result" class="message"></div>
        <div id="imagePreviewContainer" class="image-container">
            <div id="originalImagePreview"></div>
            <div id="forgeryImagePreview"></div>
        </div>
        <div id="forgeryInfo" class="forgery-info"></div>
    </div>
</body>
</html>
